<footer>
<hr>
    CST336 Internet Programming. &copy;2019 Pettit<br/>
    <strong>Disclaimer:</strong> The information on this webpage is fictitious.<br/>
    It is used for academic purposes only.<br/><br/>
    
    The word of the day is: <h1><%= fakeword1 %></h1>
     
</footer>
</body>
</html> 