<% include partials/header.ejs %>

<div>
    There are good and bad expectations to come from Quantum Computing.
    One good outcome is that weather forecasts could be made more quickly and more accurately.
    One bad outcome would be that current encryption standards could be quickly defeated.
</div>

<% include partials/footer.ejs %>