<% include partials/header.ejs %>

<main>
    <div class="randomBox">A Random Box Using Float: sorry needed more css tags. :-)</div>
    <div id="articleText">
        <p>On Wednesday, October 23, 2019 Google claimed in a blog post that
        they achieved "Quantum Supremecy" using Google's quantum processor
        code named Sycamore.  Sycamore is a 54-quibit processor developed by
        Google.</p> 
        
        <p>Google's scientists claimed: <i><a href="https://ai.googleblog.com/2019/10/quantum-supremacy-using-programmable.html">
        "Our machine performed the target 
        computation in 200 seconds, and from measurements in our 
        experiment we determined that it would take the world’s fastest 
        supercomputer 10,000 years to produce a similar output."</a></i></p>
        
        <p>Keep in mind the world's fastest supercomputer, called "Summit",
        has 2,414,592 "classical" cores and 2,801,664 gigabytes of memory.</p>
    </div>
    
    <div>
    Sources used to develop this site:
    <ul>
        <li><a href="https://pixabay.com/illustrations/artificial-intelligence-brain-think-4550606/">Pixabay: Title Image</a></li>
        <li><a href="https://www.w3schools.com/cssref/sel_hover.asp">w3schools: CSS Hover Selector</a></li>
        <li><a href="https://ai.googleblog.com/2019/10/quantum-supremacy-using-programmable.html">Google AI Blog: Quantum Supremacy Using a Programmable Superconducting Processor</a></li>
        <li><a href= "https://www.top500.org/list/2019/06/">Top500:June 2019 list </a></li>
        <li><a href="https://www.youtube.com/watch?time_continue=3&v=g_IaVepNDT4">YouTube: How Does Quantum Computing Work?</a></li>
        <li><a href="https://www.intel.com/content/www/us/en/research/quantum-computing.html">Intel: Tangle Lake</a></li>
        <li><a href="https://www.sciencedaily.com/releases/2017/09/170913192957.htm">Science Daily: The Dark Side of Quantum Computers</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column">MDN: grid-column</a></li>
    </ul>
    </div>
</main>

<% include partials/footer.ejs %>